annotated-types==0.7.0
attrs==26.1.0
autocommand==2.2.2
awscli==1.44.81
beautifulsoup4==4.14.3
botocore==1.42.91
btrfsutil==7.0
build==1.4.3
certifi==2026.5.20
cffi==2.0.0
chardet==6.0.0.post1
charset-normalizer==3.4.7
colorama==0.4.6
cryptography==48.0.0
cupshelpers==1.0
dbus-python==1.4.0
defusedxml==0.7.1
distro==1.9.0
docutils==0.22.4
evdev==1.9.3
filelock==3.29.0
Glances==4.5.4
idna==3.15
installer==1.0.0
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.6
jmespath==1.1.0
lit==22.1.5.dev0
lxml==6.1.1
MarkupSafe==3.0.3
meson==1.11.1
moddb==0.14.0
more-itertools==11.0.2
netsnmp-python==1.0a1
nftables==0.1
orjson==3.11.9
packaging==26.2
pillow==12.2.0
pkg_resources==81.0.0
platformdirs==4.9.6
psutil==7.2.2
psutils==3.3.15
puremagic==2.2.0
pyasn1==0.6.3
pycairo==1.29.0
pycparser==3.0
pycups==2.0.4
pydantic==2.13.4
pydantic_core==2.46.4
PyGObject==3.56.3
pypdf==6.12.0
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5_sip==12.18.0
python-dateutil==2.9.0
PyYAML==6.0.3
QTermWidget==2.4.0
Reflector==2023.6.28.0.36.1
reportlab==4.4.10
requests==2.34.2
rsa==4.9.1
s3transfer==0.16.0
setuptools==82.0.1
shtab==1.8.0
six==1.17.0
smbus==1.1
soupsieve==2.8.3
TBB @ file:///startdir/src/build/python/python_build
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
ufw==0.36.2
urllib3==2.7.0
VapourSynth==75
wheel==0.47.0
